{% raw %}
<html>
  <head>
    <base href="/">
    <title>Derbyhacks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="../static/assets/css/styles.css">

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    
    <script src="../static/node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="../static/node_modules/systemjs/dist/system-polyfills.js"></script>

    <script src="../static/node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="../static/node_modules/systemjs/dist/system.src.js"></script>
    <script src="../static/node_modules/rxjs/bundles/Rx.js"></script>
    <script src="../static/node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="../static/node_modules/angular2/bundles/router.dev.js"></script>
    <script src="../static/node_modules/angular2/bundles/http.dev.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>

    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        map: {
          "@angular2-material": "../static/node_modules/@angular2-material"
        },
        packages: {        
          '../static/src/': {
            format: 'register',
            defaultExtension: 'js'
          },
          '@angular2-material/core': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'core.js'
          },
          '@angular2-material/button': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'button.js'
          },
          '@angular2-material/card': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'card.js'
          },
          '@angular2-material/toolbar': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'toolbar.js'
          },
          '@angular2-material/input': {
            format: 'cjs',
            defaultExtension: 'js',
            main: 'input.js'
          }
        }
      });
      System.import('../static/src/main').then(null, console.error.bind(console));
    </script>

  </head>

  <!-- 3. Display the application -->
  <body>
      <my-app>
      </my-app>
  </body>

</html>

{% endraw %}